{
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "es6": true
    },
    "rules": {
        "arrow-body-style": 0,
        "strict": 0,
        "consistent-return": 0,
        "no-unused-expressions": 0,
        "indent": [2, 4]
    }
}